<?xml version="1.0"?>
<!-- /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_CategoryMassUpload
 * @author    Webkul Software Private Limited
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_CategoryMassUpload::categorymassupload" title="Category Manager" sortOrder="10">
                    <resource id="Webkul_CategoryMassUpload::import" title="Manage Category Mass Import" sortOrder="11"/>
                    <resource id="Webkul_CategoryMassUpload::export" title="Manage Category Mass Export" sortOrder="12"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
