<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="meetanshi_buyer_gst" instance="Meetanshi\IndianGst\Observer\BackendSaveGstToOrder"/>
    </event>
    <event name="core_layout_render_element">
        <observer name="buyergstnumber_addto_orderview" instance="Meetanshi\IndianGst\Observer\ShowBuyerGst" />
    </event>
</config>