<?xml version="1.0"?>
<!--
    /**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_ShoppingList
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="pricelist" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Price List</label>
            <!-- Assign section to tab -->
            <tab>webkul</tab>
            <resource>Webkul_PriceList::pricelist</resource>
            <!-- create group for fields in section -->
            <group id="settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enable" translate="label" sortOrder="3" type="select" showInDefault="1">
                    <label>Enable/Disable </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
