<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Address\Total\Shipping">
        <plugin name="magecomp_custom_shippingplugin" type="Magecomp\Customshipping\Plugin\Quote\Address\Total\ShippingPlugin" />
    </type>
    <type name="Magento\Quote\Api\Data\AddressInterface">
        <plugin sortOrder="5" name="magecomp_custom_shipping_address" type="Magecomp\Customshipping\Plugin\Model\Quote\AddressPlugin"/>
    </type>
</config>