<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="PhonepeFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Payment\Phonepe\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Payment\Phonepe\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PhonepeValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PhonepeCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="PhonepeConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Payment\Phonepe\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with PhonepeConfig -->
    <virtualType name="PhonepeLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">PhonepeConfig</argument>
        </arguments>
    </virtualType>

    <type name="Payment\Phonepe\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">PhonepeLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="PhonepeCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PhonepeAuthorizeCommand</item>
                <item name="capture" xsi:type="string">PhonepeCaptureCommand</item>
                <item name="void" xsi:type="string">PhonepeVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="PhonepeAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PhonepeAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">PhonepeResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Payment\Phonepe\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Payment\Phonepe\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="PhonepeAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Payment\Phonepe\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Payment\Phonepe\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Payment\Phonepe\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">PhonepeConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="PhonepeCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Payment\Phonepe\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Payment\Phonepe\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Payment\Phonepe\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Payment\Phonepe\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Payment\Phonepe\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Payment\Phonepe\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">PhonepeConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="PhonepeVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Payment\Phonepe\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Payment\Phonepe\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Payment\Phonepe\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Payment\Phonepe\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Payment\Phonepe\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Payment\Phonepe\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">PhonepeConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="PhonepeResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Payment\Phonepe\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Payment\Phonepe\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="PhonepeValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PhonepeConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PhonepeConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PhonepeConfig</argument>
        </arguments>
    </virtualType>

    <type name="Payment\Phonepe\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">PhonepeConfig</argument>
        </arguments>
    </type>

</config>