<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="brands" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Authorized Dealer Certificate</label>
            <tab>vesalltab</tab>
            <resource>Solveda_Brand::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Authorized Dealer Certificate Configuration</label>
                <field id="authorized_certificate" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="6" showInDefault="1" showInWebsite="1" >
                    <label>Upload Certificate Image</label>
                    <backend_model>Solveda\Brand\Model\Config\Backend\CertificateFileType</backend_model>
                    <upload_dir config="system" scope_info="1">certificate</upload_dir>
                </field>
            </group>
        </section>
    </system>
</config>