<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugins -->
    <!-- Adds additional data to the orders grid collection -->
   

    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="ordercolumn_grid_load_before" type="MageWorx\ExtendedOrdersSku\Plugin\Admin\Order\Grid" sortOrder="10" disabled="false"/>
        <plugin name="ordercolumn_grid_load_befores" type="MageWorx\ExtendedOrdersSku\Plugin\Admin\Order\Qty" sortOrder="11" disabled="false"/>        
        <plugin name="ordercolumn_grid_load_beforeprice" type="MageWorx\ExtendedOrdersSku\Plugin\Admin\Order\Price" sortOrder="12" disabled="false"/>
        <plugin name="ordercolumn_grid_load_beforeori" type="MageWorx\ExtendedOrdersSku\Plugin\Admin\Order\Originalprice" sortOrder="13" disabled="false"/>
    </type> 
</config>


